/* Navbar */
.custom-navbar {
    background-color: var(--primary-blue);
}

.custom-navbar .nav-link {
    color: var(--white);
    font-weight: 500;
    transition: color 0.3s;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
    color: var(--dark-blue);
}

.btn-login {
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: 600;
    border-radius: 6px;
    padding: 6px 16px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #1e40af; /* lebih gelap */
}

/* Footer */
.custom-footer {
    background-color: var(--footer-bg);
    border-top: 1px solid #e5e7eb;
    color: var(--text-dark);
}
